/* Import fontes */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* Definição variáveis root */
:root {
    /* Variáveis Cores */
    --cor-azul-escuro: #2c2f3f;
    --cor-azul-marinho: #021124;
    --cor-azul-meia-noite: #212431;
    --cor-azul-claro: #149ddd;
    --cor-cinza-claro: #a8a9b4;
    --shadow-color: #000000;
    --cor-branco: #fff;
    --cor-azul-intenso: #252c90;
    --cor-azul-claro-quase-branco: #eff5ff;
    --shadow-color-verde: rgba(0, 255, 0, 0.7);

}

/* Fonte all */
html,
body {
    font-family: 'Ubuntu', 'Ariel';
    width: 100%;
    height: 100%;

}


/* Menu lateral */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--cor-azul-marinho);
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

#header .profile img {
    margin: 30px auto;
    display: block;
    width: 200px;
    border: 8px solid var(--cor-azul-escuro);
    border-radius: 40%;
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: var(--cor-branco);
}

#header .profile .social-links a {
    font-size: 1rem;
    background: var(--cor-azul-meia-noite);
    color: var(--cor-branco);
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}

#header .profile .social-links a:hover {
    background: var(--cor-azul-claro);
}

.nav-menu {
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: var(--cor-cinza-claro);
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 0.8rem;
    color: var(--cor-cinza);
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--cor-branco);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu li:hover>a i {
    color: var(--cor-azul-claro);
}


/* Style Main body */
#main {
    margin-left: 300px;
}

section#inicio {
    background-image: url(../img/bg-img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}

section#inicio h2 {
    font-size: 5rem;
    text-shadow: 3px 3px 4px var(--shadow-color);
}

section#inicio span#subtitle {
    margin-right: 8rem;
    font-size: 2.0rem;
    text-shadow: 2px 2px 4px var(--shadow-color);
}

section#inicio span#subtitle1 {

    margin-right: 4%;
    font-size: 1.9rem;
    margin-top: 4rem;
    text-shadow: 2px 2px 10px var(--shadow-color);
}

text-shadow {
    text-shadow: 4px 4px 10px var(--shadow-color);
}

section#inicio div#arraste {
    width: 9rem;
}

section#inicio div#arraste a {
    text-decoration: none;
    color: var(--cor-branco);
}

/* Estilos para a responsividade do menu mobile */

/* Menu hambuguer */
i.menu-mobile {
    position: fixed;
    color: var(--cor-branco);
    background-color: var(--cor-azul-intenso);
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

/* menu active js */
.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header {
    left: 0;
}

/* Estilizar a barra lateral */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem var(--shadow-color);
    background-color: var(--cor-branco);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cor-azul-marinho);
}

/* Pagina Habilidades */
.section-bg {
    background-color: var(--cor-azul-claro-quase-branco);
}

/* Pagina academica css botoes carousel */
.carousel-control-prev {
    margin-left: -90px;
}

.carousel-control-next {
    margin-right: -90px;
}

.carousel-indicators {
    margin-bottom: -35px;
}

/* Animação */
[data-anime] {
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

[data-anime="down"] {
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* btn-loader */

#btn-loader {
    display: none;
}

/* Alerta */
#alerta {
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
}

/* Responsividade mobile para 1024px */
@media (max-width:1024px) {
    #header {
        left: -300px;
    }

    i.menu-mobile {
        display: flex;
    }

    section#inicio h2 {
        font-size: 3.5rem;
    }

    section#inicio span#subtitle {
        margin-right: 0;
        font-size: 1rem;
    }

    section#inicio span#subtitle1 {
        margin-right: 0;
        font-size: 1rem;
    }

    #main {
        margin-left: 0px;
    }

}

/* responsividade dos carrosel de academico e portfolio  */
@media (max-width: 1860px) {
    .carousel-control-prev {
        margin-left: 0;
    }

    .carousel-control-next {

        margin-right: 0;
    }

    [data-anime="right"] {
        transform: translate3d(-100%, 0, 0);
    }

}